.container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tempMetrics {
    color: white;
    font-weight: 500;
    font-size: 7rem;
    margin: 0;
}

.degree {
    margin: 0;
    font-weight: 300;
}

.subTempMetrics {
    font-family: "Overpass", serif;
    margin: 0;
    font-weight: 300;
    color: white;
    font-size: 5rem;
}

.weatherContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.weather {
    color: white;
    font-size: 1.2rem;
}

.icon {
    padding-top: 0.6rem;
    padding-right: 0.3rem;
    width: 2rem;
}
